# Baza danych dockera
mysql_data/

# Pliki generowane przez prestę
prestashop/var/
prestashop/app/cache/
prestashop/app/logs/

# Konfiguracja środowiska (klucze / login do DB)
prestashop/config/settings.inc.php

# Zbędne
*.log
*.sql
*.tar
*.zip
*.gz

# Cache tematów
prestashop/themes/*/assets/cache/
prestashop/themes/*/assets/css/
prestashop/themes/*/assets/js/

# Composer vendor — jeśli nie robicie custom modułów z composera
vendor/

# Node build output (jeśli używacie gulp/webpacka)
node_modules/
